* {
  padding: 0px;
  margin: 0px;
}
.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  padding: 5px;
}
.navbar-menu {
  padding: 5px;

  width: 50%;
}
.navbar-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar-menu ul li {
  list-style: none;
}
.navbar-menu ul li a {
  text-decoration: none;
}

.crud-wrapper {
  margin: 50px;
  padding: 40px;
  background: #343a401a;
}

h1.text-center {
  margin-bottom: 30px;
}

h1.text-center {
  margin-bottom: 30px;
}

input.btn.btn-primary {
  padding: 10px 25px;
  position: relative;
  left: 50%;
  right: 50%;
  top: 10px;
}

.form-check-input {
  position: absolute;
  margin-top: 12px;
  margin-left: -1.25rem;
}
form.mx-auto {
  max-width: 500px;
}
@media screen and (max-width: 411px) {
  .crud-wrapper {
    margin: 0;
  }
}
